@model IEnumerable<ReceProject.Models.News>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Nyheter";

    //@Html.DisplayFor(modelItem => item.Text).ToString().Substring(0,100)

}

<div class="adminTop">

    <div>
        <h1>@ViewData["Title"]</h1>
    </div>

    <div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Create" class="btnCreate">
                <img class="imgAdd" src="~/images/iconAdd.png" alt="">
                Skapa ny artikel
            </a>
        }

    </div>

</div>

<section class="search">
    <form asp-controller="News" asp-action="Index" method="get">
        <div>
            <input type="text" name="SearchString" placeholder="Sök efter hashtags eller rubrik" />
        </div>
        <div>
            <input type="submit" value="Sök" />
        </div>
    </form>
</section>

@foreach (var item in Model.Reverse())
{
    <article class="admin_indexList">

        <div class="image">
            <img src="uploadsNews/Small_@Html.DisplayFor(modelItem => item.ImageName)" alt="">

        </div>

        <div class="text">
            <h2>
                @Html.DisplayFor(modelItem => item.Header)
            </h2>
            @if (item.Text.Length <= 100)
            {
                <p>
                    @Html.DisplayFor(modelItem => item.Text)
                    @Html.ActionLink("Läs mer", "Details", "News", new {Id=item.Id})
                </p>

            }
            else
            {
                <p>
                    @(item.Text.ToString().Substring(0, 100) + "... ")
                    @Html.ActionLink("Läs mer", "Details", "News", new {Id=item.Id})
                </p>

            }
            <p>
                @Html.DisplayFor(modelItem => item.Hashtags)
            </p>
        </div>

        <div class="icon">
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/images/iconPen.png" alt="">
                </a>
            }
            else
            {
                <a asp-action="Details" asp-route-id="@item.Id">
                    Läs artikel
                </a>
            }
        </div>


    </article>
}
