@model ReceProject.Models.Rent

@{
    ViewData["Title"] = "Hantera enskild bokning";

    string none = "-";
}

<h1>Hantera bokning</h1>

<div class="detailsButtons">
    <a asp-action="Edit" asp-route-id="@Model?.Id">
        <img src="~/images/iconPen.png" alt="Ändra">
    </a>
    <a asp-action="Delete" asp-route-id="@Model?.Id">
        <img src="~/images/iconRemove.png" alt="Papperskorg">
    </a>
</div>


<section class="rent_detaljSpace">
    <h2>Bokningsinfo</h2>
    <hr>
    <dl class="row">
        <dt class="col-sm-4">
            Bokat sedan:
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TimeRentedSince)
        </dd>
        <dt class="col-sm-4">
            Kontorsrum:
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-4">
            Pris:
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Room.Price) kr/h
        </dd>
    </dl>
</section>

<section class="rent_detaljSpace">
    <h2>Kund info</h2>
    <hr>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-8">
            <!--Dosent work, fix it-->
            @if (String.IsNullOrEmpty(@Html.DisplayFor(model => model.Note).ToString()))
            {
                @none
            }
            else
            {
                @Html.DisplayFor(model => model.Note)
            }
        </dd>
    </dl>

</section>