@model IEnumerable<ReceProject.Models.Rent>

@{
    ViewData["Title"] = "Bokningar";

    List<string> TotaltRentedRooms = new List<string>();
    foreach (var item in Model)
    {
        TotaltRentedRooms.Add(item.Room.Name.ToString());
    }


}

<div class="adminTop">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
            <a asp-action="Create" class="btnCreate">
                <img class="imgAdd" src="~/images/iconAdd.png" alt="">
                Boka kontor ( tillgängligt)
            </a>
    </div>
</div>

<section class="search">
    <form asp-controller="Rent" asp-action="Index" method="get">
        <div>
            <input type="text" name="SearchString" placeholder="Sök efter kundnamn eller telefonnumer" />
        </div>
        <div>
            <input type="submit" value="Sök" />
        </div>
    </form>
</section>




<section class="admin_IndexRentList">
    @foreach (var item in Model)
    {
        <div class="admin_indexList">

            <div class="image">
                <img src="~/uploadsRooms/small_@Html.DisplayFor(modelItem => item.Room.ImageName)" alt="">
            </div>

            <div class="text">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(modelItem => item.Name):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.Name)
                    </dd>
                    <dt class="col-sm-2">
                        Telefonnumer:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        Bokades:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.TimeRentedSince)
                    </dd>
                </dl>
            </div>

            <div class="icon">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/images/iconPen.png" alt="">
                </a>
            </div>
        </div>
    }

</section>