@model ReceProject.Models.News
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="detailsButtons">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">
            <img src="~/images/iconPen.png" alt="Ändra">
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Id">
            <img src="~/images/iconRemove.png" alt="Papperskorg">
        </a>
    }
</div>

<article class="news_details">

    <div>
        <h1> @Html.DisplayFor(model => model.Header) </h1>
        <p>@Html.DisplayFor(model => model.Text) </p>



        <p class="hashtags"><span>#</span> @Html.DisplayFor(model => model.Hashtags)</p>

        <p class="postInfo">
            Publicerades av: @Html.DisplayFor(model => model.Author) <br>
            Publicerades: @Html.DisplayFor(model => model.Publish) <br>
            Uppdaterades senast: @Html.DisplayFor(model => model.LastUpdated)
        </p>
    </div>

    <div>
        <img src="~/uploadsNews/@Html.DisplayFor(model => model.ImageName)" alt="">
    </div>

</article>
