@model IEnumerable<ReceProject.Models.News>

@{
    ViewData["Title"] = "Nyheter";

    //@Html.DisplayFor(modelItem => item.Text).ToString().Substring(0,100)

}

<div class="adminTop">

    <div>
        <h1>@ViewData["Title"]</h1>
    </div>

    <div>
        <a asp-action="Create" class="btnCreate">
            <img class="imgAdd" src="~/images/iconAdd.png" alt="">
            Skapa ny artikel
        </a>
    </div>

</div>

<section class="search">
    <form asp-controller="News" asp-action="Index" method="get">
        <div>
            <input type="text" name="SearchString"
                placeholder="Sök efter kundnamn eller telefonnumer och tryck enter" />
        </div>
        <div>
            <input type="submit" value="Sök" />
        </div>
    </form>
</section>

@foreach (var item in Model)
{
    <article class="admin_indexList">

        <div class="image">
            <img src="uploadsNews/@Html.DisplayFor(modelItem => item.ImageName)" alt="">

        </div>

        <div class="text">
            <h2>
                @Html.DisplayFor(modelItem => item.Header)
            </h2>
            <p>

                @Html.DisplayFor(modelItem => item.Text)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Hashtags)
            </p>
        </div>

        <div class="icon">
            <a asp-action="Details" asp-route-id="@item.Id">
                <img src="~/images/iconPen.png" alt="">
            </a>


        </div>


    </article>
}
